%h2 Edit Group

= render 'form'

%h3 Manage Members
%p Invite your Facebook friends to participate in the group.

= link_to "Invite Friends", '#', id: :invite_friends, data: {url: group_memberships_path(@group)}

